# Terraform and Terragrunt files

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# Terragrunt
backend.tf
provider.tf
.terragrunt-cache
*.terraform.lock.hcl
terragrunt-debug.tfvars.json

# - - - - - - - - - - - - - - - - - - -

# --- Custom files ---
_build.sh

# --- Secrets ---
*.pem

# --- OSX ---
.DS_Store
.AppleDouble
.LSOverride

@ --- Windows ---
Desktop.ini

# --- GENERAL ---
# Icon must end with two \r
Icon

# Thumbnails
._*
Thumbs.db

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# --- Vim ---
*.swp
*.swo

# --- Ruby ---
/.bundle/

# --- Vagrant ---
.vagrant/
.bundle/

# --- Jetbrains ---
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws
*.iml
*.ipr


## Plugin-specific files:

# IntelliJ
out/
build/
*/build/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# --- Javascript ---
node_modules
bower_components
.grunt

# Local environment tools(Direnv, Shadowenv)
.envrc
.env
.shadowenv.d

# --- Python ---
*.pyc

# SSH Keys
*.pem
*.crt
*.key

# Backups [ie. terraform]
*.backup

# Logs
*.log

# Binary files
*.xlsx

# Git conflict files
*.org

# Sass cache
.sass-cache/

# Editor/IDE Files and Folders
.vscode
jsconfig.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-*
